<p>Go to <a href="/">home page</a></p>
<p>Go to <a href="/about">about page</a></p>

<p>Go to <a href="/employees">employee list page</a></p>
<p>Go to <a href="/employees/visible">employee visible page</a></p>